*,
*::before,
*::after {
    box-sizing: border-box;
    --item-bk-color: lightskyblue;
    --content-bk-color: #e0f3ff;
    --body-bk-color: #c9e5ec;
    --body-alt-bk-color: #eef9fc;
    --item-hover-color: #e0f3ff;
}

body {
    padding: 0;
    margin: 0;
    background: var(--body-bk-color);
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 20% auto 20%;
    grid-template-areas: "header header" "sidebar content" "footer footer";
}

header {
    grid-area: header;
    font-family: sans-serif;
}

aside {
    grid-area: sidebar;
    font-family: sans-serif;
}

footer {
    grid-area: footer;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 5px 10px;
}

.horizontal-list li {
    display: inline;
}

.vertical-list li {
    display: flex;
    background-color: var(--item-bk-color);
    margin: 10px 5px;
}

.vertical-list li a {
    display: flex;
}

.vertical-list li:hover {
    background: var(--item-hover-color);
}

.vertical-list li:first-child {
    margin: 0px 5px 10px 5px;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: left;
    justify-self: center;
    align-items: center;
}

.header-content-list-ctn {
    text-align: center;
    padding: 10px;
}

.header-list li a {
    background-color: var(--item-bk-color);
    padding: 5px 20px;
}

.header-list li a:hover {
    background: var(--item-hover-color);
}

.footer-content-list-ctn {
    padding: 10px;
}

.footer-list {
    width: 100%;
    display: inline-table;
}

.footer-list li {
    display: table-cell;
    padding-left: 10px;
    background-color: transparent
}

.footer-list li a {
    background-color: var(--item-bk-color);
    padding: 5px 20px;
}

.footer-list li a:hover {
    background: var(--item-hover-color);
}

.content {
    grid-area: content;
    font-family: serif;
    font-weight: normal;
    background: var(--content-bk-color);
}

.blog-entry {
    display: flex;
    padding: 1em;
}

.blog-entry-even {
    display: flex;
    padding: 1em;
    background: var(--body-alt-bk-color);
}

.blog-entry-image {
    width: 20%;
}

.blog-entry-text {
    width: 80%;
}